.progress-box {
  margin: 1em 0;
}
.progress-bar {
  /* display: flex;
  align-items: center;
  justify-content: flex-end; */
  /* display: inline-block; */
  width: 100%;
  height: 2em;
  background-color: #66f166;
  border-radius: 4px;
  /* margin-bottom: 10px; */
}

.progress-goal {
  height: 100%;
  background-color: #eee;
  width: 100%;
  margin-right: auto;
  border: solid 1px #ddd;
  border-radius: 4px;
}

.progress {
  display: inline-block;
  height: 100%;
  background-color: #4caf50;
  border-radius: 4px 0 0 4px;
  margin-right: auto;
}

.progress-box.achieved .progress-bar,
.progress-box:not(.achieved) .progress-goal {
  display: flex;
  align-items: start;
  /* align-items: center; */
  justify-content: flex-end;
}
.amount {
  white-space: nowrap;
  padding: 0 0.25em;
  text-align: right;
}

.right {
  text-align: right;
  margin-right: 1em;
}

.goals-table {
  /* width: auto; */
  max-width: 100%;
  /* width: 100%; */
  background: #f1f1f1;
  border-collapse:collapse;
  border-spacing: 10px;
  border-radius: 5px;
  margin: 1em auto;
}
.goals-table tr {
  vertical-align: top;
  border-bottom: solid 1px white;
}
.goals-table tr.achieved {
  background: #4caf50;
}
.goals-table tr.locked {
  color: grey;
}
.goals-table td {
  padding: 10px;
}
.goals-table td.price {
}
.goals-table td > :first-child {
  margin-top: 0;
}
.goals-table td > :last-child {
  margin-bottom: 0;
}
